@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 1720px;
  height: 100vh;

  @media screen and (max-width: 1920px) {
    width: 1240px;
  }
  @media screen and (max-width: 1440px) {
    width: 880px;
  }
  @media screen and (max-width: 1024px) {
    width: 520px;
  }
  @media screen and (max-width: 768px) {
    width: 300px;
  }
}
